/*=================================================================================*/
/*=================================================================================*/
/*==========================||---------------------------||========================*/
/*==========================|| Developed By HOSSAM HILAL ||========================*/
/*==========================||---------------------------||========================*/
/*====================================||------||===================================*/
/*====================================|| 2021 ||===================================*/
/*====================================||------||===================================*/
/*=================================================================================*/
/*=================================================================================*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap');

:root {
    --primaryColor: #FFC64E;
    --secondaryColor: #3AA3DB;
    --white: #fff;
    --black: #202020;
    --text: #6B6B6B;
    --textLight: #ABABAB;
    --opacity: rgba(58, 163, 219, 0.1);
    --bg: #191919;
    --bgLight: #1E1E1E;
    --border: 1px solid #F3F3F3;
    --unnamed-color-ffffff: #FFFFFF;
    --unnamed-color-ffc64e: #FFC64E;
    --unnamed-color-3c3c3c: #3C3C3C;
    --unnamed-color-ffea70: #FFEA70;
}


body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    direction: ltr;
    text-align: left;
    background: var(--bg);
}

.stopScroll {
    overflow: hidden;
}

p {
    color: var(--text);
    margin: 0;
    font-size: 14px;
    line-height: 25px;
}

a {
    text-decoration: none !important;
}


input:active,
input:focus,
select:active,
select:focus,
textarea:focus,
textarea:active {
    box-shadow: none;
    outline: 0;
}

/*==========================||---------------------------||========================*/
/*==========================||         MAIN BUTTONS      ||========================*/
/*==========================||---------------------------||========================*/

.primaryBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent linear-gradient(180deg, #FFBF48 14%, #FFF47A 50%, #FFBF48 100%) 0% 0% no-repeat padding-box;
    color: var(--white);
    height: 45px;
    border: 0;
    border-radius: 5px;
    width: 150px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all .5s ease-in-out;
    text-transform: uppercase;
}

.primaryBtn::before,
.primaryBtn::after {
    content: '';
    width: 100%;
    height: 100%;
    margin: auto;
    position: absolute;
    top: 0%;
    left: 0%;
    background: var(--primaryColor);
    transition: all .5s ease-in-out;
}

.primaryBtn:hover::before {
    transform: rotateX(90deg);
}

.primaryBtn:hover::after {
    transform: rotateY(90deg);
}

.primaryBtn span {
    position: relative;
    z-index: 2;
}

.primaryBtn:hover,
.primaryBtn:hover span {
    color: var(--white);
}

@media (min-width:1700px) {
    .container {
        max-width: 1420px;
    }
}

@media (min-width:1500px) {
    .container {
        max-width: 1340px;
    }
}


/*==========================||---------------------------||========================*/
/*==========================||           Header          ||========================*/
/*==========================||---------------------------||========================*/

.header {
    position: relative;
    margin-bottom: 60px;
}

.header::after {
    content: '';
    position: absolute;
    top: 32px;
    right: 0;
    background: url('../images/dust1.png') no-repeat;
    display: block;
    width: 16%;
    height: 80%;
    z-index: -1;
}

.topHeader {
    border-bottom: 1px solid #292626;
    padding: 10px 0;
}

.topHeader .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topHeader p {
    color: var(--text);
    font-size: 14px;
    font-weight: 400;
}

.language {
    margin-inline-start: 15px;
    padding-inline-end: 20px;
    position: relative;
}

.language::after {
    content: '';
    width: 12px;
    height: 9px;
    position: absolute;
    top: 6px;
    right: 0;
    background: transparent linear-gradient(180deg, #FFBF48 14%, #FFF47A 50%, #FFBF48 100%) 0% 0% no-repeat padding-box;
    clip-path: polygon(100% 0%, 0% 0%, 50% 100%);
}

.language a {
    display: flex;
    font-size: 14px;
    color: var(--white);
}

.HeaderNav {
    padding: 50px 0;
}

.logo img {
    max-width: 200px;
}

.mainNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mainMenu ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.mainMenu a {
    color: var(--text);
    padding: 10px 20px;
    margin-inline-end: 20px;
    text-transform: uppercase;
    font-size: 14px;
    position: relative;
}

.mainMenu a:hover,
.mainMenu .active a {
    color: var(--primaryColor);
}

.mainMenu a::before {
    content: "";
    width: 15px;
    height: 1px;
    border-radius: 5px;
    background: var(--text);
    position: absolute;
    left: 0;
    top: calc(50% - .5px);
}

.mainMenu a:hover::before,
.mainMenu .active a::before {
    background: var(--primaryColor);
}

.mainBtns {
    display: flex;
    align-items: center;
}

.language img {
    width: 40px;
}

.menuBtn {
    position: relative;
    width: 25px;
    height: 18px;
    display: none;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    margin-inline-start: 25px;
    cursor: pointer;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    z-index: 99;
}

.menuBtn span {
    display: block;
    position: absolute;
    background: var(--text);
    height: 3px;
    width: 50%;
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.menuBtn span:nth-child(odd) {
    left: 0px;
    border-radius: 9px 0 0 9px;
}

.menuBtn span:nth-child(even) {
    left: 50%;
    border-radius: 0 9px 9px 0;
}

.menuBtn span:nth-child(1),
.menuBtn span:nth-child(2) {
    top: 0px;
}

.menuBtn span:nth-child(3),
.menuBtn span:nth-child(4) {
    top: 10px;
}

.menuBtn span:nth-child(5),
.menuBtn span:nth-child(6) {
    top: 20px;
}

.menuBtn.open span:nth-child(1),
.menuBtn.open span:nth-child(6) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.menuBtn.open span:nth-child(2),
.menuBtn.open span:nth-child(5) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.menuBtn.open span:nth-child(1) {
    left: 0px;
    top: 8px;
}

.menuBtn.open span:nth-child(2) {
    left: calc(50% - 5px);
    top: 9px;
}

.menuBtn.open span:nth-child(3) {
    left: -50%;
    opacity: 0;
}

.menuBtn.open span:nth-child(4) {
    left: 100%;
    opacity: 0;
}

.menuBtn.open span:nth-child(5) {
    left: 0px;
    top: 17px;
}

.menuBtn.open span:nth-child(6) {
    left: calc(50% - 5px);
    top: 16px;
}

.menuBtn.open span ,
.menuBtn:hover span {
    background: var(--primaryColor);
}

.navOverlay {
    background: rgba(0,0,0,.6);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 98;
    opacity: 0;
    visibility: hidden;
}

.navOverlay.opend {
    opacity: 1 !important;
    visibility: visible !important;
}

.headerSlider img {
    height: 500px;
}

.headerSlider .item {
    position: relative;
}

.headerSlider .hover {
    color: var(--white);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
}

.headerSlider h1 {
    font-size: 80px;
    line-height: 120px;
    text-align: center;
    font-weight: 900;
}

.headerSlider .owl-item.active h1 {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-name: fadeInUp;
    animation-delay: 0.3s;
}

.follow {
    display: flex;
    align-items: center;
    transform: matrix(0, -1, 1, 0, 0, 0);
    position: absolute;
    left: -90px;
    bottom: 220px;
    color: var(--white);
    font-size: 13px;
}


.follow label {
    margin-bottom: 0;
    margin-inline-end: 20px;
    position: relative;
    display: flex;
    align-items: center;
}

.social {
    display: flex;
}

.social a {
    display: flex;
    color: var(--white);
    font-size: 14px;
    margin: 0 10px;
    transition: all .3s ease-in-out;
}

.social a:hover {
    color: var(--primaryColor);
}

.follow label::after {
    content: '';
    display: inline-block;
    width: 30px;
    height: 1px;
    background: var(--text);
    margin-inline-start: 8px;
}

@media screen and (max-width:575px) {
    .follow {
        position: relative;
        transform: none;
        left: auto;
        right: auto;
        bottom: auto;
        padding: 15px;
    }
}

@media screen and (max-width:768px) {
    .logo img {
        max-width: 160px;
    }

    .header {
        margin-bottom: 20px;
    }

    .topHeader {
        padding: 5px 0;
    }

    .topHeader p {
        font-size: 12px;
    }

    .language {
        padding-inline-end: 15px;
    }

    .language a {
        font-size: 12px;
    }

    .language::after {
        width: 9px;
        height: 6px;
    }

    .HeaderNav {
        padding: 15px 0;
    }

    .logo img {
        max-width: 90px;
    }

    .HeaderNav .primaryBtn {
        width: 90px;
        font-size: 12px;
        height: 30px;
    }

    .headerSlider img {
        height: 260px;
    }

    .headerSlider h1 {
        font-size: 20px;
        line-height: 35px;
    }
}

@media screen and (max-width:1024px) {
    .mainMenu {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 270px;
        background: var(--bgLight);
        z-index: 99;
        padding: 40px 0;
        transition: all .5s ease-in-out;
        transform: translateX(-100%);
    }

    .mainMenu ul {
        flex-direction: column;
    }

    .mainMenu ul li {
        padding: 10px;
    }

    .mainMenu.opend {
        transform: translateX(0%) !important;
    }

    .menuBtn {
        display: flex;
    }
}

/*==========================||---------------------------||========================*/
/*==========================||     Service Request       ||========================*/
/*==========================||---------------------------||========================*/

.secPadding {
    padding: 60px 0;
}

.serviceRequest {
    position: relative;
}

.serviceRequest::after {
    content: '';
    position: absolute;
    top: 32px;
    right: 0;
    background: url('../images/dust2.png') no-repeat;
    display: block;
    width: 29%;
    height: 139%;
    z-index: -1;
}

.team::after {
    display: none;
}

.serviceRequest::before {
    content: '';
    position: absolute;
    top: 0;
    left: -48px;
    background: url('../images/dust3.png') no-repeat;
    display: block;
    width: 25%;
    height: 77%;
    z-index: -1;
}

.requestDetails {
    background: url('../images/pic.png') no-repeat;
    background-size: cover;
    padding: 40px 0;
}

.serviceRequest h2 {
    font-size: 44px;
    color: var(--primaryColor);
    line-height: 60px;
    margin-bottom: 20px;
}

.serviceRequest p {
    margin-bottom: 30px;
    font-size: 17px;
    line-height: 35px;
    color: var(--white);
}

.serviceRequest .primaryBtn {
    min-width: 170px;
}

@media screen and (max-width:768px) {
    .secPadding {
        padding: 30px 0;
    }
    
    .requestDetails {
        padding: 0;
        background-position: bottom right;
        background-size: 125% 60%;
    }
    
    .serviceRequest h2 {
        font-size: 30px;
        line-height: 45px;
        margin: 0;
    }
    
    .serviceRequest p {
        font-size: 13px;
        line-height: 25px;
        margin-bottom: 15px;
    }
    
    .serviceRequest .primaryBtn {
        min-width: 150px;
        height: 40px;
        font-size: 13px;
    }
}

/*==========================||---------------------------||========================*/
/*==========================||             Team          ||========================*/
/*==========================||---------------------------||========================*/

.teamVector {
    max-width: 400px;
    margin: auto;
    padding-top: 15px;
    padding-inline-start: 15px;
    position: relative;
}

.teamVector::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: var(--primaryColor);
    width: 43%;
    height: 43%;
}

.teamVector img {
    position: relative;
}

@media screen and (max-width:768px) {
    .teamVector {
        margin-bottom: 15px;
    }
}

/*==========================||---------------------------||========================*/
/*==========================||          Services         ||========================*/
/*==========================||---------------------------||========================*/

.services {
    position: relative;
}

.services::after {
    content: '';
    position: absolute;
    bottom: -27px;
    right: 0;
    background: url('../images/dust4.png') no-repeat;
    display: block;
    width: 21%;
    height: 62%;
    z-index: -1;
}

.sectionTitle {
    text-align: center;
    color: var(--primaryColor);
    font-size: 50px;
    margin-bottom: 50px;
}

.service {
    background: var(--bgLight);
    padding: 15px;
    text-align: center;
    height: 248px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.serviceIcon {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.service img {
    filter: brightness(0) invert(1);
}

.service:hover img {
    filter: none;
}

.service h3 {
    color: var(--white);
    font-size: 21px;
    font-weight: 400;
    text-transform: capitalize;
    margin: 0;
}

.service:hover h3 {
    color: var(--primaryColor);
}

@media screen and (max-width:768px) {
    .sectionTitle {
        font-size: 30px;
        line-height: 45px;
        margin-bottom: 20px;
    }
    
    .services .row {
        padding: 0 5px;
    }
    
    .services .col-6 {
        padding: 0 5px;
    }
    
    .service {
        height: 140px;
        margin-bottom: 10px;
    }
    
    .serviceIcon {
        width: 45px;
        height: 45px;
    }
    
    .serviceIcon img {
        max-width: 100%;
    }
    
    .service h3 {
        font-size: 13px;
        line-height: 20px;
    }
}

/*==========================||---------------------------||========================*/
/*==========================||           Work            ||========================*/
/*==========================||---------------------------||========================*/

.work {
    height: 300px;
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;
}

.work img {
    height: 100%;
    transition: all .5s ease-in-out;
    opacity: .7;
}

.work:hover img {
    transform: scale(1.2);
    opacity: 1;
}

.animate-1:hover img {
    transform-origin: 50px 50px;
}

.animate-2:hover img {
    transform-origin: bottom right 60px;
}

.animate-3:hover img {
    transform-origin: top right 60px;
}

.work .hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: rgba(0, 0, 0, .2);
    color: var(--white);
    transition: all .5s ease-in-out;
}

.work:hover .hover {
    background: rgba(0, 0, 0, .5);
}

.work h3 {
    font-size: 21px;
}

.work h5 {
    font-size: 13px;
    font-weight: 200;
    margin: 0;
}

@media screen and (max-width:768px) {
    .work {
        height: 220px;
        margin-bottom: 15px;
    }
    
    .work .hover {
        padding: 15px;
    }

    .work h3 {
        font-size: 17px;
    }
}

/*==========================||---------------------------||========================*/
/*==========================||       institutional       ||========================*/
/*==========================||---------------------------||========================*/

.institutional {
    background: var(--bgLight);
}

.institutional h2 {
    color: var(--primaryColor);
    font-size: 40px;
    margin-bottom: 20px;
}

.institutional p {
    font-size: 19px;
    line-height: 35px;
}

.features {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}

.feature {
    width: 50%;
    display: flex;
    color: var(--white);
    margin-bottom: 30px;
}

.feature .icon {
    width: 60px;
}

.feature .icon img {
    max-width: 30px;
}

.feature h4 {
    font-size: 21px;
}

.feature h5 {
    font-size: 15px;
    font-weight: 300;
}

.video {
    position: relative;
    overflow: hidden;
    margin-top: 20px;
}

.video video {
    width: 100%;
}

.videoHover {
    display: flex;
    align-items: flex-end;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.playVideo {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .5);
    width: 190px;
    height: 190px;
    border-radius: 50%;
    margin-inline-start: -35px;
    margin-bottom: -50px;
}

.playVideo span {
    width: 50px;
    height: 50px;
    background: rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primaryColor);
    border-radius: 50%;
    margin-bottom: 10px;
    cursor: pointer;
}

.playVideo span:hover {
    background: var(--primaryColor);
    color: var(--white);
}

@media screen and (max-width:425px) {
    .feature {
        width: 100%;
        margin-bottom: 20px;
    }
}

@media screen and (max-width:768px) {
    .institutional h2 {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 10px;
    }
    
    .institutional p {
        font-size: 14px;
        line-height: 25px;
    }
    
    .features {
        margin-top: 25px;
    }
    
    .feature h4 {
        font-size: 16px;
    }
    
    .feature h5 {
        font-size: 13px;
        margin: 0;
    }
    
    .playVideo {
        width: 120px;
        height: 120px;
        margin-inline-start: -23px;
    }
    
    .playVideo span {
        width: 40px;
        height: 40px;
        margin-bottom: 40px;
        margin-inline-start: 10px;
    }
}

/*==========================||---------------------------||========================*/
/*==========================||         Parteners         ||========================*/
/*==========================||---------------------------||========================*/

.parteners .item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    padding: 15px;
    cursor: pointer;
}

.parteners img {
    filter: grayscale(100%);
}

.parteners .item:hover img {
    filter: none;
}

@media screen and (max-width:768px) {
    .parteners .item {
        height: 100px;
    }
}

/*==========================||---------------------------||========================*/
/*==========================||          Contact          ||========================*/
/*==========================||---------------------------||========================*/

.contact {
    position: relative;
}

.contact::before {
    content: '';
    position: absolute;
    bottom: 111px;
    left: -15%;
    background: url('../images/dust3.png') no-repeat;
    display: block;
    width: 55%;
    height: 128%;
    z-index: -1;
    transform: rotate(55deg);
}

.contact::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    background: url('../images/dust4.png') no-repeat;
    display: block;
    width: 26%;
    height: 107%;
    z-index: -1;
}

.contact .sectionTitle {
    margin-bottom: 15px;
}

.contact .sectionHeader {
    text-align: center;
    margin-bottom: 30px;
}

.contactForm {
    max-width: 500px;
    margin: auto;
}

.field {
    margin-bottom: 25px;
}

.field label {
    font-size: 13px;
    text-transform: uppercase;
    display: block;
}

.field .form-control {
    border: 1px solid var(--text);
    height: 45px;
    background: transparent;
    font-size: 14px;
    color: var(--white);
    border-radius: 4px;
}

.field .form-control::placeholder {
    color: var(--text);
    font-size: 13px;
}

.field .form-control:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 198, 78, .50);
}

.textareaField .form-control {
    height: 150px;
    resize: none;
    padding: 10px 12px;
}

.contactForm .primaryBtn {
    width: 100%;
}

/*==========================||---------------------------||========================*/
/*==========================||           Footer          ||========================*/
/*==========================||---------------------------||========================*/

.footer {
    background: var(--bgLight);
}

.footer p {
    width: 350px;
    margin: 20px 0 25px;
    font-weight: 500;
    font-size: 17px;
}

.footer .social a {
    margin: 0;
    margin-inline-end: 20px;
}

.location {
    max-width: 242px;
    margin-inline-start: auto;
}

.location h6 {
    font-size: 19px;
    color: var(--primaryColor);
    font-weight: 300;
    margin-bottom: 40px;
    text-transform: capitalize;
}

.map {
    padding: 10px;
    border: 1px solid var(--text);
    height: 143px;
    width: 100%;
    border-radius: 4px;
}

@media screen and (max-width:425px) {
    .map {
        height: 200px;
    }

    .location h6 {
        margin: 20px 0;
    }
}

@media screen and (max-width:768px) {
    .location {
        max-width: 100%;
    }
    
    .location h6 {
        margin-bottom: 20px;
    }
}


/*==========================||---------------------------||========================*/
/*==========================||             Ar            ||========================*/
/*==========================||---------------------------||========================*/

.ar {
    direction: rtl;
    text-align: right;
}

.ar .language::after {
    left: 0;
    right: auto;
}

.ar .mainMenu a::before {
    right: 0;
    left: auto;
}

.ar .teamVector::before {
    left: auto;
    right: 0;
}

.ar .requestDetails {
    background: url(../images/pic-ar.png) no-repeat;
    background-size: cover;
}